<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated supplychain -->
      <package
            uri="http://www.example.org/supplychain"
            class="supplychain.SupplychainPackage"
            genModel="model/supplychain.genmodel"/>
   </extension>

</plugin>
